body {
    font-family: 'Poppins', sans-serif !important;
}

main {
    background-color: #37B3FF;
    background-image: linear-gradient(#36B3FF, #15A5E8, #1750AC, #0D3068);
    min-height: 100vh;
}

main aside {
    overflow: hidden;
}

main aside svg.top {
    position: absolute;
    width: 260px;
    top: -70px;
}

main aside svg.body {
    position: absolute;
    top: 260px;
    right: 155px;
    z-index: 5;
}

main aside svg.bot {
    position: absolute;
    width: 200px;
    bottom: -50px;
}

main>div {
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 9rem 3rem;
    text-align: center;
    position: relative;
}

main div h2 {
    color: #36B3FF;
    font-weight: 700;
    margin-bottom: 15px;
}

main div form {
    width: 80%;
    margin: 0 auto;
}

main div form .form-con {
    position: relative;
    margin: 25px 0;
}

main div form .form-con label {
    position: absolute;
    background-color: #fff;
    color: #165AB3;
    font-weight: 700;
    font-size: 14px;
    top: -12px;
    left: 20px;
}

main div form .form-con input {
    /* color: #A9A9A9; */
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px #A9A9A9 solid;
    outline: none;
    padding: 15px 0 15px 30px;
}


main .key-con svg.key {
    position: absolute;
    top: 90px;
    left: -285px;
    transition: 0.5s;
    transform: rotate(19deg);
}

main div form .form-con input::placeholder {
    color: #A9A9A9;
    font-size: 14px;
}

main div form .form-con i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #165AB3;
}

main div form button {
    background-color: #36B3FF;
    background-image: linear-gradient(-175deg, #36B3FF, #15A5E8, #1750AC, #0D3068);
    color: #fff;
    width: 100%;
    font-weight: 700;
    border: 0;
    border-radius: 12px;
    padding: 12px 0;
}

main div p {
    color: #6F6F6F;
    font-size: 15px;
}


@media (min-width:320px) and (max-width:480px) {
    main>div {
        border-radius: 0;
        padding: 6.25rem 1rem;
    }

    main div form {
        width: 90%;
        margin: 0 auto;
    }


}